body {
    padding: 15px;
    color: var(--vscode-foreground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
}

h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--vscode-panel-border);
    padding-bottom: 10px;
}


.form-group {
    margin-bottom: 15px;
}

.row {
    display: flex;
    gap: 10px;
}

.col {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 12px;
    color: var(--vscode-descriptionForeground);
}


input, select {
    width: 100%;
    box-sizing: border-box; 
    padding: 6px;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
    border-radius: 2px;
    outline: none;
    font-family: inherit;
}

input::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

input:focus, select:focus {
    border-color: var(--vscode-focusBorder);
    outline: 1px solid var(--vscode-focusBorder); 
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 9px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}